{% load static %}
<html>
<head>
<title>Medical Social Media</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["username"].value;
	var y=document.forms["f1"]["password"].value;
	var c=document.forms["f1"]["contact"].value;
	var e=document.forms["f1"]["email"].value;
	var a=document.forms["f1"]["address"].value;
	var image=document.forms["f1"]["image"].value;
	if(x == null || x==""){
		window.alert("Username must be enter");
		document.f1.username.focus();
		return false;
	}
	if(y == null || y==""){
		window.alert("Password must be enter");
		document.f1.password.focus();
		return false;
	}
	if(c == null || c==""){
		window.alert("Contact No must be enter");
		document.f1.contact.focus();
		return false;
	}
	if(isNaN(c)){
		window.alert("Please enter valid contact number");
		document.f1.contact.focus();
		return false;
	}
	if(e == null || e==""){
		window.alert("Email ID must be enter");
		document.f1.email.focus();
		return false;
	}
	var filter = /^([a-zA-Z0-9_\.\-])+\@(gmail+\.)+(com)+$/;
	if (!filter.test(e)) {
		window.alert('enter a valid email address');
		document.f1.email.focus();
		return false;
	}
	if(a == null || a==""){
		window.alert("Address must be enter");
		document.f1.address.focus();
		return false;
	}
	if(image == null || image==""){
		window.alert("profile image must be upload");
		document.f1.image.focus();
		return false;
	}
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="6" color="white">Medical Text Classification based on Improved Capsule Network</font></center>
		</div>
		<div>
		<p align="right">	<font size="4" color="white"><a  href="{% url 'index' %}"> Logout</a></font></p>
		</div>
	</div>
	<div id="menu">
				<ul><center>
      <li><a href="{% url 'HomePage' %}">Home</a></li>
	  <li><a href="{% url 'Viewuser' %}">ViewProfile</a></li>
	  <li><a href="{% url 'EditProfile' %}">EditProfile</a></li>
	  <li><a href="{% url 'UpdateStatus' %}">UpdateStatus</a></li>
	  <li><a href="{% url 'ChangePassword' %}">ChangePassword</a></li>
	  <li><a href="{% url 'PostTopic' %}">PostTopic</a></li>
	  <li><a href="{% url 'test' %}">chatbot</a></li>	
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'EditMyProfile' %} enctype="multipart/form-data" OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Edit Profile Screen</b></h3>

   <table align="center" width="80" >

   {{ data|safe }}

	
<tr><td><b>Profile&nbsp;Image</b></td><td><input type="file" name="image" style="font-family: Comic Sans MS" size="60"/></td></tr>
		
		         
			<tr><td></td><td><input type="submit" value="Edit Profile">
			</td>
			</table>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
				</div>	
					
				</div>
				
	</body>
</html>