{% load static %}
<html>
<head>
<title>Medical Social Media</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="6" color="white">Medical Text Classification based on Improved Capsule Network</font></center>
		</div>
	</div>
	<div id="menu">
		<ul><center>
        <li><a href="{% url 'Viewusers' %}">View Users</a></li>
		<li><a href="{% url 'Viewposts' %}">View Posts </a></li>
		<li><a href="{% url 'Accuracy' %}">Accuracy Result</a></li>
        <li><a href="{% url 'index' %}">Logout</a></li>
			
		</center></ul>
		<br class="clearfix" />
	</div>
	
		<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
	
	
	<center>
   {{ data|safe }}
		



</body>
</html>
